.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1500px;
  height: 800px;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2018/03/15/16/11/background-3228704_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.containerBtn {
  margin-top: 1rem;
}

.btn {
  margin-bottom: 5px;
  width: 218px;
  border-radius: 0.1rem;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  border: transparent;
  border: none;
  border-radius: 0.2rem;
  background-image: linear-gradient(#f5b7b1, #cb4335);
  cursor: pointer;
  color: rgb(32, 29, 29);
  transition-duration: 1.6s;
}

.btn:hover {
  color: white;
  background-image: linear-gradient(#e69d96, #5f1007);
  transition-duration: 1.6s;
}

.btn:active {
  transform: scale(0.99);
}

.containerDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background-image: linear-gradient(
    rgba(245, 248, 248, 0.5),
    rgba(189, 42, 22, 0.2)
  );
  color: black;
  border-radius: 5px;
}

.containerImage {
  border-radius: 0.2rem;
  height: 45vw;
  width: 55vh;
  margin: 0 auto;
  margin-top: 5px;
}
