.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 720px;
  margin: 0 2px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2018/03/15/16/11/background-3228704_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.containerBtns {
  display: flex;
  margin: 1rem auto;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 0.9rem;
}

.imagen {
  width: 100%;
  height: 100%;
  border-image-slice: 30;
  border-radius: 0.7rem;
}
.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  font-family: 'Roboto Slab', serif;
}
.containerFormAll {
  padding: 0.8rem;
}
.labelActivity {
  font-weight: 700;
  color: #e9a7a5;
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-family: 'Roboto Slab', serif;
}

.inputActivity {
  position: relative;
  border: none;
  border-radius: 0.2rem;
  background-color: #fef5e7;
  padding: 0.3rem;
  font-family: 'Roboto Slab', serif;
  color: #2e1603;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.inputActivity:focus {
  outline: none;
}

.inputActivity1 {
  position: relative;
  border: none;
  border-radius: 0.2rem;
  background-color: #fef5e7;
  padding: 0.3rem;
  font-family: 'Roboto Slab', serif;
  color: #2e1603;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.inputActivity1:focus {
  outline: none;
}
.selectActivity {
  position: relative;
  border: none;
  border-radius: 0.2rem;
  background-color: #fef5e7;
  padding: 0.25rem;
  font-family: 'Roboto Slab', serif;
  color: #2e1603;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.selectActivity:focus {
  outline: none;
}

.selectActivity1 {
  position: relative;
  border: none;
  border-radius: 0.2rem;
  background-color: #fef5e7;
  padding: 0.25rem;
  font-family: 'Roboto Slab', serif;
  color: #2e1603;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.selectActivity1:focus {
  outline: none;
}

.selectActivity2 {
  position: relative;
  border: none;
  border-radius: 0.2rem;
  background-color: #fef5e7;
  padding: 0.25rem;
  font-family: 'Roboto Slab', serif;
  color: #2e1603;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.selectActivity2:focus {
  outline: none;
}

.containerFormBtn {
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
  padding: 7px;
  border: transparent;
  border: none;
  border-radius: 0.2rem;
  background-image: linear-gradient(#f5b7b1, #cb4335);
  cursor: pointer;
  color: rgb(32, 29, 29);
  transition-duration: 2s;
  margin: 10px 5px 10px 5px;
}

.containerFormBtn:hover {
  color: white;
  background-image: linear-gradient(#e69d96, #5f1007);
  transition-duration: 2s;
}
.containerFormBtn:active {
  transform: scale(0.99);
}

.containerCountriesSelect {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.containerCountriesSelectOne {
  width: 55px;
  position: relative;
  padding: 1.5rem;
  border-radius: 0.7rem;
  background-color: #fef5e7;
}
.btnDelete {
  position: absolute;
  top: 7px;
  right: 5px;
  color: #1d1d1c;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  border: none;
  border-radius: 0.5rem;
  background-color: #b6a78f;
}
.btnDelete:hover {
  color: rgb(219, 60, 60);
}

.errorName {
  position: absolute;
  top: 138px;
  right: 278px;
  color: rgb(235, 79, 79);
}
.errorDuration {
  position: absolute;
  top: 245px;
  right: 298px;
  color: rgb(235, 79, 79);
}
.errorDifficulty {
  position: absolute;
  top: 192px;
  right: 290px;
  color: rgb(235, 79, 79);
}
.errorSeason {
  position: absolute;
  top: 298px;
  right: 325px;
  color: rgb(235, 79, 79);
}
.errorId {
  position: absolute;
  top: 353px;
  right: 258px;
  color: rgb(235, 79, 79);
}
